// Text
.title-1 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.title-2 {
    font-size: 2rem;
    display: block;
    text-align: left;
    font-weight: 100;
}

.subtitle {
    font-size: 1.3rem;
}

.text {
    &-primary {
        color: $primary-color;
    }

    &-secondary {
        color: $secondary-color;
    }

    &-dark {
        color: $dark-color;
    }

    &-medium {
        color: $medium-color;
    }

    &-light {
        color: $light-color;
    }
}


// Backgrounds
.bg {
    &-primary {
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-secondary {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-dark {
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        background: $light-color;
        color: set-text-color($light-color);
    }
}


// Lines
.line {
    height: 2px;
    width: 7rem;
    background: $primary-color;
    display: block;
    margin: 1.25rem auto;
}


// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    @extend %btn-shared;

    &-primary {
        @extend %btn-shared;
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-secondary {
        @extend %btn-shared;
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        @extend %btn-shared;
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        @extend %btn-shared;
        background: $light-color;
        color: set-text-color($light-color);
    }
}

.btn-s {
    padding: 0.5rem 1rem;
}

.btn-l {
    padding: 1.5rem 3.2rem;
}

.btn-xs {
    padding: 0.5rem 0rem;
}

*[class^="btn-"]:hover {
    opacity: 75%;
}


// Cards
.card {
    padding: 1.5rem 1rem;
    background: $light-color;
    color: set-text-color($light-color);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.card-2 {
    padding: 1.5rem 1rem;
    background: $light-color;
    color: set-text-color($light-color);
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom: 1rem;
}