// General Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $primary-font;
    line-height: 1.5;
    background: $light-color;
}

input, textarea {
    font-family: $secondary-font;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    /* Stops image from extending beyond container */
    width: 100%;
}

h1, h2, h3,
h4, h5, h6,
p {
    margin-bottom: 0.5rem;
}


// Header
.img-container {
    position: relative;
}

.header {
    &-main {
        background: url("../img/showcase/showcase.jpg")
        no-repeat center top / cover;
        height: 100vh;
    }

    &-inner {
        background: url("../img/showcase/showcase.jpg")
        no-repeat center center / cover;
        height: 70px;
    }

    &-main, &-inner {
        color: #ffffff;
        top: 0;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
        }
    
        * {
            z-index: 10;
        }
    
        .container {
            height: 100%;
        }
    
        // Navbar
        #navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-items: center;
            height: 70px;
            width: 100%;
    
            // navbar z-index must be higher than showcase
            z-index: 10;
            * {
                z-index: inherit;
            }
        
            #logo {
                margin-left: 2rem;
        
                a {
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: 500;
        
        
                    .logo-color {
                        color: $primary-color;
                        font-weight: 700;
                    }
                }
            }
        
            .nav-options {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
        
                li a {
                    color: #ffffff;
                    padding: 0.75rem 0.5rem 0.4rem;
                    border: none;
                    border-bottom: 3px solid transparent;
                    margin-right: 1.5rem;
                    transition: all 0.15s ease;
    
                    &:hover {
                        border-color: $medium-color;
                    }
                }
        
                li.nav-option-active a {
                    border-color: $primary-color;
                }
            }
        }
    
        // Showcase
        #showcase {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: -80px;
    
            // showcase z-index must be lower than navbar
            z-index: 9;
            * {
                z-index: inherit;
            }
    
            h1 {
                color: #ffffff;
                font-size: 50px;
                font-weight: 300;
            }
    
            p {
                color: #ffffff;
                font-size: 28px;
            }
        }
    }
}


// Home-A:
#home-a {
    margin-bottom: 2.5rem;

    .learn-items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        div {
            margin: 0 2rem;

            i {
                margin-bottom: 0.5rem;
                color: $primary-color;
            }
            
            h3 {
                margin-bottom: 1rem;
                font-weight: 600;
            }
        }
    }
}


// Home-B
#home-b {
    margin-bottom: 2.5rem;

    .flex {
        justify-content: left;
        text-align: left;
        margin-bottom: -8px;
        margin-left: -25px;
        margin-right: 25px;

        .image {
            width: 100%;
            margin-right: 3rem;
        }

        .title-2 {
            font-size: 2.75rem;
        }

        .subtitle {
            font-size: 1.15rem;
        }

        .btn {
            background: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;

            &:hover {
                border-color: $dark-color;
                color: $dark-color;
            }
        }
    }
}


// Home-C: Website Specs
#home-c {
    margin-bottom: 2.5rem;

    .flex {
        div {
            margin: 0 2rem;

            h1 {
                font-size: 35px;
                margin-bottom: 0;
                color: $primary-color;
            }

            h2 {
                font-size: 22px;
                margin-bottom: 1rem;
            }
        }
    }
}


// Home-D: Lightbox Images
.lightbox-images {
    .grid {
        grid-template-columns: repeat(4, 1fr);

        .img {
            height: 200px;
            width: auto;
            background: transparent no-repeat center / cover;
            transition: opacity 0.1s ease;

            &:hover {
                opacity: 0.7
            }
        }
    }
}





// Footer
#footer {
    position: relative;
    background: url("../img/showcase/showcase.jpg")
    no-repeat center center / cover;
    color: #ffffff;
    height: 100%;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    * {
        z-index: 10;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 6rem;

        .website-info {
            p {
                font-size: 18px;
            }
        }

        .site-links {
            li {
                padding: 0.4rem 0 0.2rem;
                border: none;
                border-bottom: 1px solid $medium-color;

                a {
                    font-size: 18px;
                    color: #ffffff;
                    transition: color 0.15s ease;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .social-media {
            a {
                color: $primary-color;
                padding-right: 1rem;
                font-size: 18px;

                &:last-child {
                    padding-right: 0;
                }

                i {
                    transition: all 0.3s ease;

                    &:hover {
                        opacity: 0.7;
                        transform: scale(1.25, 1.25);
                    }
                }
            }
        }

        .newsletter {
            p {
                font-size: 18px;
            }

            input[type="email"] {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                outline: none;
                font-size: 14px;
            }
        }

        .copyright {
            margin: 3rem 0 1.5rem;
            grid-column: 1 / span 4;
        }
    }
}