// General
$website-width: 1280px;

// Colors
$primary-color: #b52e2a;
$secondary-color: #297275;
$dark-color: #333333;
$medium-color: #666666;
$light-color: #f4f4f4;
$success-color: #4cb240;
$warning-color: #f7a510;
$danger-color: #ff4428;

// Font
$primary-font: "Roboto", Arial, Helvetica, sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;

// Images
